/* Error: Undefined variable.
 *    ,
 * 28 |     background: $blue-color;
 *    |                 ^^^^^^^^^^^
 *    '
 *   main.scss 28:17  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 28 \2502      background: $blue-color;\d\a    \2502                  ^^^^^^^^^^^\a    \2575 \a   main.scss 28:17  root stylesheet";
}
