/* Error: Undefined mixin.
 *    ,
 * 36 |         @include flex-direction(column);
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   responsive.scss 36:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 36 \2502          @include flex-direction(column);\d\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   responsive.scss 36:9  root stylesheet";
}
